<div class="card">
  <div class="card-body">
    <h2>Add Author</h2>
    <div class="container">
      <form #addAuthorForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row g-3 align-items-center">
          <div class="col-2">
            <label for="authorName">Author Name:</label>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="text" id="authorName" class="form-control"
                [class.is-invalid]="authorName.invalid && (authorName.dirty || authorName.touched)" name="authorName"
                [(ngModel)]="author.authorName" #authorName="ngModel" required>
              <div *ngIf="authorName.invalid && (authorName.dirty || authorName.touched)" class="invalid-feedback">
                Field is
                required.</div>
            </div>
          </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
          <div class="col-2">
            <label for="biography">Biography:</label>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <textarea id="biography" name="biography" class="form-control"
                [class.is-invalid]="biography.invalid && (biography.dirty || biography.touched)" rows="4"
                [(ngModel)]="author.biography" #biography="ngModel" required></textarea>
              <div *ngIf="biography.invalid && (biography.dirty || biography.touched)" class="invalid-feedback"> Field
                is
                required.</div>

            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-9 offset-3">
            <button type="button" routerLink="/authors" class="btn btn-danger col-2"><i
                class="fa-solid fa-xmark"></i>Cancel</button>
            <button type="button" class="btn btn-success col-2" [disabled]="addAuthorForm.invalid"
              (click)="onSubmit()"><i class="fa-solid fa-check"></i>Save</button>

          </div>
        </div>

      </form>

    </div>

  </div>
</div>
