<div class="navbar">
  <div class="title col-3">
    <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <span class="navbar-brand mb-0 h1">Book Store</span>
    </a>
  </div>
  <div class="container col-6 d-flex justify-content-between">
    <div *ngIf="storageServ.isLoggedIn()">
      <nav class="nav nav-pills">
        <ng-container *ngFor="let link of navLinks">
          <li class="nav-item">
            <a [routerLink]="link.path" routerLinkActive="active" class="nav-link">{{ link.label }}</a>
          </li>
        </ng-container>
      </nav>
    </div>
  </div>
  <div class="col-auto text-end" *ngIf="storageServ.isLoggedIn()">
    <ul class="nav nav-pills ml-auto">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ storageServ.getUser().username | uppercase }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</div>
