<header class="d-flex justify-content-center py-3">
  <div class="col-md-3 mb-2 mb-md-0">
    <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <i class="fa-solid fa-book fa-2xl"></i>
    </a>
  </div>
  <div class="container">
    <ul class="nav nav-pills">
      <!--<li class="nav-item"><a routerLink="/" routerLinkActive="active" class="nav-link">Home</a></li>-->
      <li class="nav-item"><a routerLink="/books" routerLinkActive="active" class="nav-link">Books</a></li>
      <li class="nav-item"><a routerLink="/authors" routerLinkActive="active" class="nav-link">Authors</a></li>
      <li class="nav-item"><a routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a></li>
      <li class="nav-item"><a routerLink="/inventories" routerLinkActive="active" class="nav-link">Inventories</a></li>
    </ul>
  </div>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Login <i class="fa-solid fa-user"></i></button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>
