<div class="card">
  <div class="card-body">
    <h2>Add Inventory</h2>

    <div class="container">
      <form #addInventoryForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row g-3 align-items-center">
          <div class="col-2">
            <label for="shelfLocation">Shelf Location:</label>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="text" id="shelfLocation" class="form-control"
                [class.is-invalid]="shelfLocation.invalid && (shelfLocation.dirty || shelfLocation.touched)"
                #shelfLocation="ngModel" [(ngModel)]="inventory.shelfLocation" name="shelfLocation" required>
              <div *ngIf="shelfLocation.invalid && (shelfLocation.dirty || shelfLocation.touched)"
                class="invalid-feedback">
                Field is required.
              </div>
            </div>
          </div>

        </div>
        <br>
        <div class="row g-3 align-items-center">
          <div class="col-2">
            <label for="condition">Condition:</label>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="text" id="condition" class="form-control"
                [class.is-invalid]="condition.invalid && (condition.dirty || condition.touched)" #condition="ngModel"
                name="condition" [(ngModel)]="inventory.condition" required>
              <div *ngIf="condition.invalid && (condition.dirty || condition.touched)" class="invalid-feedback">
                Field is required.
              </div>

            </div>

          </div>

        </div>
        <br>
        <div class="row g-3 align-items-center">
          <div class="col-2">
            <label for="dateAdded">Date Added:</label>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <input type="date" id="dateAdded"
                [class.is-invalid]="dateAdded.invalid && (dateAdded.dirty || dateAdded.touched)" #dateAdded="ngModel"
                class="form-control" name="dateAdded" [(ngModel)]="inventory.dateAdded" required>
              <div *ngIf="dateAdded.invalid && (dateAdded.dirty || dateAdded.touched)" class="invalid-feedback">
                Field is required.
              </div>

            </div>
          </div>

        </div>

        <br>
        <div class="row">
          <div class="col-9 offset-3">
            <button type="button" routerLink="/" class="btn btn-danger col-2"><i
                class="fa-solid fa-xmark"></i>Cancel</button>
            <button type="button" class="btn btn-success col-2" [disabled]="addInventoryForm.invalid"
              (click)="onSubmit()"><i class="fa-solid fa-check"></i>Save</button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>
