<h2>Authors List</h2>
<div class="row">
  <button class="btn btn-primary col-2" routerLink="/addAuthor"> Add Author</button>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Author name</th>
      <th scope="col">Biography</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listAuthors; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.authorName}}</td>
      <td>{{item.biography}}</td>
      <td><button class="btn btn-primary" routerLink="/editAuthor/{{item.authorId}}"><i
            class="fa-solid fa-pen-to-square" title="Edit"></i></button>
        <button class="btn btn-danger"><i class="fa-solid fa-trash" title="Delete"></i></button>
      </td>
    </tr>
  </tbody>
</table>
