<h2>Edit Category</h2>
<div class="container">
  <form (ngSubmit)="onSubmit()">

    <div class="row g-3 align-items-center">
      <div class="col-2"> <label for="categoryName">Category Name:</label>
      </div>
      <div class="col-3"> <input type="text" class="form-control" id="categoryName" name="categoryName" required><br>
      </div>

    </div>
    <br>
    <div class="row g-3 align-items-center">
      <div class="col-2"> <label for="description">Description:</label>
      </div>
      <div class="col-3"> <textarea id="description" class="form-control"  name="description" rows="4" required></textarea><br>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="offset-3">
        <button type="button" class="btn btn-success col-1" (click)="onSubmit()"><i
            class="fa-solid fa-check"></i>Save</button>
        <button type="button" routerLink="/" class="btn btn-danger col-1"><i
            class="fa-solid fa-xmark"></i>Cancel</button>
      </div>
    </div>
  </form>

</div>
