<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="text-center">
        <h2>Welcome to Book Store</h2>
        <p>This application allows you to manage your book collection effectively.</p>
      </div>
      <p>Your actions may vary depending on your role:</p>
      <ul>
        <li><strong>User :</strong> View and search books in the collection.</li>
        <li><strong>Moderator :</strong> Add & edit books in the collection.</li>
        <li><strong>Administrator :</strong> Manage user roles and permissions, in addition to full book management.</li>
      </ul>
    </div>

  </div>

</div>
