<h2>Add Book</h2>

<div class="container mt-4">
  <form (ngSubmit)="onSubmit()">
    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="title">Title:</label>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="book.title" required>
      </div>
    </div>
    <br>
    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="author" class="col-xs-4">Author:</label>

      </div>
      <div class="col-3">
        <select class="form-control" id="author" name="author" [(ngModel)]="book.author.authorId" required>
          <option *ngFor="let item of listAuthors" [value]="item.authorId"
            [selected]="book.author.authorId == item.authorId">{{item.authorName}}</option>
        </select>

      </div>
    </div>
    <br>
    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="category">Category:</label>
      </div>
      <div class="col-3">
        <select class="form-control" id="category" name="category" [(ngModel)]="book.category.categoryId" required>
          <option *ngFor="let item of listCategories" [value]="item.categoryId"
            [selected]="book.category.categoryId == item.categoryId">{{item.categoryName}}</option>
        </select>

      </div>
    </div>
    <br>

    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="publication_date">Publication Date:</label>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" id="publication_date" maxlength="4" placeholder="YEAR"
          name="publication_date" [(ngModel)]="book.publicationYear" required>
      </div>
    </div>
    <br>

    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="isbn">ISBN:</label>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" id="isbn" name="isbn" [(ngModel)]="book.isbn" required>
      </div>
    </div>
    <br>

    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="publisher">Publisher:</label>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" id="publisher" name="publisher" [(ngModel)]="book.publisherName"
          required>
      </div>
    </div>
    <br>

    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="price">Price:</label>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="book.price"
          aria-label="Amount (to the nearest dollar)" required>
      </div>
    </div>
    <br>

    <div class="row g-3 align-items-center">
      <div class="col-2">
        <label for="availability">Availability:</label>
      </div>
      <div class="col-3">
        <select class="form-control" id="availability" name="availability" required>
          <option value="1" [selected]="book.quantityAvailable > 0">In Stock</option>
          <option value="0" [selected]="book.quantityAvailable == 0">Out of Stock</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="offset-3">
        <button type="button" class="btn btn-success col-1" (click)="onSubmit()"><i
            class="fa-solid fa-check"></i>Save</button>
        <button type="button" routerLink="/" class="btn btn-danger col-1"><i
            class="fa-solid fa-xmark"></i>Cancel</button>
      </div>
    </div>
  </form>
</div>
